{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row justify-content-center">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
    <div class="col-md-4">{{ form_row(form.category) }}</div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">{{ form_row(form.image) }}</div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">{{ form_row(form.content) }}</div>
</div>
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
