{% extends 'layout.html.twig' %}

{% block title %}Snow Trick{% endblock %}

{% block body %}
    <main role="main">
        <div class="card bg-dark text-white">
            <img class="card-img" src="{{ asset('img/banner.jpg') }}" alt="Mountain">
            <div class="card-img-overlay">
                <h1 class="card-title text-center">Site communautaire Snow Trick</h1>
                <p class="card-text text-center">Retrouvez toutes les figures de tricks et partagez avec la communauté !</p>
                {% for message in app.flashes('success') %}
                <div class="row justify-content-md-center ">
                    <i class="col col-md-4 alert alert-success text-center">{{ message }}</i>
                </div>
                {%  endfor %}
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% for trick in tricks %}
                    {% if trick %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="{{ asset(trick.image.webPath ) }}" alt="{{ trick.image.alt }}" height="210" width="150">
                                <div class="card-body">
                                    <p class="card-text">{{ trick.name }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('trick_view', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-primary">Voir</button></a>
                                            {% if app.user %}
                                            <a href="{{ path('trick_details', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></button></a>
                                            <form method="post" action="{{ path('trick_delete', {slug: trick.slug}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous sûr ?')">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            {% endif %}
                                        </div>
                                        <small class="text-muted">{{ trick.createdAt|date ('d/m/Y') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                {% if tricks %}
                    <ul class="pagination">
                        {% for p in range(1, nbPages) %}
                            <li{% if p == page %} class="page-item active"{% endif %}>
                                <a class="page-link" href="{{ path('app_homepage', {'page': p}) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
