{% extends 'layout.html.twig' %}
{% block title %}Vue du trick{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row justify-content-md-center ">
            <i class="col col-md-4 alert alert-success text-center">{{ message }}</i>
        </div>
    {%  endfor %}
    <div class="jumbotron mt-0">
        <div class="row">
            <div class="col-md-6 my-1 text-center">
                 <img class="img-thumbnail" src="{{ asset(trick.image.webPath ) }}" alt="{{ trick.image.alt }}">
            </div>
            <div class="col-md-6 my-1 container embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item"  src="{{ trick.video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>{{ trick.name }}</h2>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('trick_details', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></button></a>
                        <form method="post" action="{{ path('trick_delete', {slug: trick.slug}) }}" style="display: inline-block" onsubmit="return confirm('Supprimer le trick ?')">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fas fa-trash-alt"></i></button>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                        </form>
                        <a href="{{ path('create_comment', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-primary">Commenter</button></a>
                    {% endif %}
                <hr>
            </div>
            <div class="col-12 text-justify">
                <p>{{ trick.content|nl2br }}</p>
                <hr>
            </div>
            <div class="col-12">
                Catégorie : <i>{{ trick.category.name }}</i>
            </div>
        </div>
    </div>
    <div class="container my-5 py-5">
        <h3>Commentaires ({{ comments|length }})</h3>
        <br>
        <div class="my-1 p-1 bg-white rounded box-shadow">
            {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="media text-muted pt-1">
                    <img src="{{ asset(comment.user.avatarPath) }}" alt="" class="mr-2 rounded" height="32">
                    <div class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">{{ comment.user.username }}</strong>
                        </div>
                        <span class="d-block">{{ comment.content }}</span>
                    </div>
                </div>
            {% endfor %}
                <ul class="pagination">
                    {% for p in range(1, nbPages) %}
                        <li{% if p == page %} class="page-item active"{% endif %}>
                            <a class="page-link" href="{{ path('trick_view', {'page': p, 'slug': trick.slug}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if comments|length <= 0  %}
                <p>Pas de commentaires, soyez le premier à poster !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
