{% extends 'layout.html.twig' %}
{% block title %}Vue du trick{% endblock %}

{% block body %}
    <div class="jumbotron mt-1">
        <div class="row">
            <div class="col-md-6 my-1 text-center">
                 <img class="img-thumbnail" src="{{ asset(trick.image.webPath ) }}" alt="{{ asset(trick.image.alt) }}">
            </div>
            <div class="col-md-6 my-1 container embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item"  src="{{ trick.video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>{{ trick.name }}</h2>
                    {% if app.user %}
                        <a href="{{ path('trick_details', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></button></a>
                        <form method="post" action="{{ path('trick_delete', {slug: trick.slug}) }}" style="display: inline-block" onsubmit="return confirm('Supprimer le trick ?')">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fas fa-trash-alt"></i></button>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                        </form>
                        <a href="{{ path('create_comment', {slug: trick.slug}) }}"><button type="button" class="btn btn-sm btn-outline-primary">Commenter</button></a>
                    {% endif %}
                <hr>
            </div>
            <div class="col-12 text-justify">
                <p>{{ trick.content|nl2br }}</p>
                <hr>
            </div>
            <div class="col-12">
                Catégorie : <i>{{ trick.category.name }}</i>
            </div>
        </div>
    </div>
    <div class="container my-5 py-5">
        <h3>Commentaires ({{ comments|length }})</h3>
        <br>
        <div class="jumbotron">
            {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="row">
                    <img class="comment-img rounded-circle" src="{{ asset(comment.user.avatarPath) }}" height="61">
                    <div class="comment-container d-inline-block pl-3 align-top">
                        <span><strong>{{ comment.user.username }}</strong></span>
                        <br>
                        <span>{{ comment.content }}</span>
                    </div>
                </div>
                <hr>
            {% endfor %}
                <ul class="pagination">
                    {% for p in range(1, nbPages) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('trick_view', {'page': p, 'slug': trick.slug}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if comments|length <= 0  %}
                <p>Pas de commentaires, soyez le premier à poster !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
